<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="passwordreset">
        {% csrf_token %}
        <P>Username <input type="text" name="uname"></P><br>
        <p> New password:<input type="password" name="password"></p>
        <input type="submit" value="Reset">
        {{errmsg}}

        <p> <a href="{% url 'login'%}"><I>login</I></a></p>




    </form>



</body>
</html>